$color-grey-1: #cccccc;
$color-grey-2: #999;

$orange:#D6A05E;

$primary: $orange;

$line-height-base: 1;

$spacing-h-lg: 12px;

$at-loading-size: 18px;
$at-loading-color: $primary;

$at-activity-indicator-font-color: $color-grey-2;
$at-activity-indicator-font-size: 14px;

$at-load-more-tips-color: $color-grey-1;
$at-load-more-tips-size: 14px;
$at-load-more-height: 50px;